In [31]:
import pandas as pd

df1 = pd.read_excel("file3.xlsx")
df2 = pd.read_excel("file4.xlsx")

In [32]:
data = pd.concat([df1, df2])

In [36]:
data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0
1002,4881,FL,M,599,100,423,4,11670,10,27,406,200,9.230769,28,7401,C1,10.0
1003,66358,ND,M,593,258,299,0,10186,1,70,298,274,5.266667,1,3301,S2,5.0
1004,2231,WI,male,564,217,397,0,12315,0,96,386,295,11.400000,1,7301,T2,14.0
1005,68534,MI,M,651,431,505,0,14845,7,77,451,455,7.428571,1,1709,S2,9.0

In [37]:
data = data.drop(["DOB", "DOMAIN" ], axis=1)

In [38]:
data.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'TARGET_D'],
      dtype='object')

In [43]:
#Rearrange the columns by placing columns ic2, ic3, ic4, ic5 before the column median_home_val
data=data[['CONTROLN', 'STATE', 'GENDER','IC1', 'IC2', 'IC3','IC4', 'IC5', 'HV1',  'HVP1', 'POBC1', 'POBC2', 'AVGGIFT', 'TCODE', 'TARGET_D']]

In [44]:
data.columns

Index(['CONTROLN', 'STATE', 'GENDER', 'IC1', 'IC2', 'IC3', 'IC4', 'IC5', 'HV1',
       'HVP1', 'POBC1', 'POBC2', 'AVGGIFT', 'TCODE', 'TARGET_D'],
      dtype='object')

In [50]:
data[(data['GENDER']=='F') & (data['TARGET_D']<100)]

,CONTROLN,STATE,GENDER,IC1,IC2,IC3,IC4,IC5,HV1,HVP1,POBC1,POBC2,AVGGIFT,TCODE,TARGET_D
0,119966,TX,F,225,264,243,281,9372,321,0,3,68,8.058824,0,11.0
1,152470,CA,F,610,763,698,807,53158,5725,97,13,22,23.727273,0,45.0
3,171528,CA,F,317,389,405,471,17431,1895,46,10,62,6.705882,0,5.0
4,50122,Tennessee,F,318,340,352,370,12416,715,2,0,75,9.250000,2,10.0
5,92293,IL,F,878,897,934,973,35266,3359,87,16,74,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,77441,WI,F,316,354,335,376,11623,725,0,1,86,7.666667,0,7.0
993,117326,TX,F,554,750,626,837,31480,1715,34,3,54,6.916667,0,10.0
996,66762,MI,F,279,336,339,388,12653,632,2,1,71,8.533333,0,5.0
998,151175,CA,F,507,504,538,537,16165,2707,80,24,54,12.117647,0,22.0
1001,41537,FL,F,396,424,450,470,15356,742,0,7,37,14.285714,2,50.0

In [48]:
data[(data['GENDER']=='M') & (data['STATE']=="FL")]

,CONTROLN,STATE,GENDER,IC1,IC2,IC3,IC4,IC5,HV1,HVP1,POBC1,POBC2,AVGGIFT,TCODE,TARGET_D
30,35581,FL,M,296,377,360,473,16729,906,3,4,37,10.428571,1,15.0
31,46358,FL,M,362,371,388,408,12806,715,0,6,28,7.466667,1,9.0
38,41545,FL,M,373,392,417,436,14942,658,0,11,23,5.789474,1,5.0
55,11284,FL,M,324,391,404,478,17408,934,9,4,11,6.366667,0,4.0
59,25678,FL,M,302,339,335,365,12474,721,2,3,51,8.875000,1,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,36776,FL,M,319,360,358,379,12869,653,0,11,35,9.500000,1,20.0
973,4881,FL,M,100,406,200,423,11670,599,4,10,27,9.230769,28,10.0
992,6403,FL,M,311,272,324,313,12509,677,0,2,23,10.115385,1,10.0
997,6443,FL,M,252,263,262,274,11132,595,0,8,11,14.692308,1,20.0
1002,4881,FL,M,100,406,200,423,11670,599,4,10,27,9.230769,28,10.0