In [6]:
import pandas as pd

df1 = pd.read_excel("file3.xlsx")
df2 = pd.read_excel("file4.xlsx")

data = pd.concat([df1, df2])

In [7]:
data.dtypes

CONTROLN      int64
STATE        object
GENDER       object
HV1          object
IC1           int64
IC4           int64
HVP1          int64
IC5           int64
POBC1         int64
POBC2         int64
IC2           int64
IC3           int64
AVGGIFT     float64
TCODE         int64
DOB           int64
DOMAIN       object
TARGET_D    float64
dtype: object

In [8]:
data.select_dtypes("float","int64")

        AVGGIFT  TARGET_D
0      8.058824      11.0
1     23.727273      45.0
2      4.416667       3.0
3      6.705882       5.0
4      9.250000      10.0
...         ...       ...
1001  14.285714      50.0
1002   9.230769      10.0
1003   5.266667       5.0
1004  11.400000      14.0
1005   7.428571       9.0

[2006 rows x 2 columns]

In [12]:
data['AVGGIFT'] =  pd.to_numeric(data["AVGGIFT"], errors='coerce')

In [13]:
data = data.drop_duplicates()

In [14]:
data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,66762,MI,F,632,279,388,2,12653,1,71,336,339,8.533333,0,0,0,5.0
997,6443,FL,M,595,252,274,0,11132,8,11,263,262,14.692308,1,2501,T2,20.0
998,151175,CA,F,2707,507,537,80,16165,24,54,504,538,12.117647,0,4001,U1,22.0
999,151504,CA,M,2666,535,653,63,24745,22,45,609,612,12.333333,1,4401,S1,21.0
1000,74303,MI,M,444,225,299,3,10088,1,86,264,269,17.142857,4,405,R2,25.0