In [22]:
import pandas as pd

df1 = pd.read_excel("file3.xlsx")
df2 = pd.read_excel("file4.xlsx")

data = pd.concat([df1, df2])

data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0
1002,4881,FL,M,599,100,423,4,11670,10,27,406,200,9.230769,28,7401,C1,10.0
1003,66358,ND,M,593,258,299,0,10186,1,70,298,274,5.266667,1,3301,S2,5.0
1004,2231,WI,male,564,217,397,0,12315,0,96,386,295,11.400000,1,7301,T2,14.0
1005,68534,MI,M,651,431,505,0,14845,7,77,451,455,7.428571,1,1709,S2,9.0

In [23]:
filtered2 = data[data['GENDER']=='F']
filtered2

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
5,92293,IL,F,3359,878,973,87,35266,16,74,897,934,5.800000,0,2201,S1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,77441,WI,F,725,316,376,0,11623,1,86,354,335,7.666667,0,5701,T2,7.0
993,117326,TX,F,1715,554,837,34,31480,3,54,750,626,6.916667,0,4105,U1,10.0
996,66762,MI,F,632,279,388,2,12653,1,71,336,339,8.533333,0,0,0,5.0
998,151175,CA,F,2707,507,537,80,16165,24,54,504,538,12.117647,0,4001,U1,22.0
1001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0

In [24]:
data.head(10)

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
5,92293,IL,F,3359,878,973,87,35266,16,74,897,934,5.800000,0,2201,S1,5.0
6,47191,AL,F,950,264,378,3,20090,6,55,295,330,4.142857,2,2601,C1,5.0
7,89288,IL,F,1243,414,507,9,15884,18,70,467,464,10.400000,0,5308,S2,15.0
8,101676,MO,M,1162,529,612,7,18860,4,60,560,571,10.125000,1,3405,C1,15.0
9,30051,GA,F,359,205,292,0,9279,0,90,260,250,9.000000,0,4501,0,10.0

In [25]:
filtered2 = filtered2.reset_index(drop=True)
filtered2

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
3,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
4,92293,IL,F,3359,878,973,87,35266,16,74,897,934,5.800000,0,2201,S1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,77441,WI,F,725,316,376,0,11623,1,86,354,335,7.666667,0,5701,T2,7.0
980,117326,TX,F,1715,554,837,34,31480,3,54,750,626,6.916667,0,4105,U1,10.0
981,66762,MI,F,632,279,388,2,12653,1,71,336,339,8.533333,0,0,0,5.0
982,151175,CA,F,2707,507,537,80,16165,24,54,504,538,12.117647,0,4001,U1,22.0
983,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0

In [26]:
#filtered2.loc[100:200]

In [32]:
filtered2.iloc[[2,3,4,5]]

SyntaxError: invalid syntax (<ipython-input-32-3e4313cbff16>, line 1)